@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

nav,
header,
footer {
  padding: 20px;
}
/* Barrra de Navegación */

nav {
  background-color: #9e0c26;
  display: flex;
  justify-content: space-between;
  grid-area: nav;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  flex: auto;
}
nav li a {
  justify-content: flex-end;
  text-decoration: none;
  font-family: Barlow, Arial, sans-serif;
  font-size: 1.7rem;
  color: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

nav,
main,
footer {
  padding: 20px;
}

nav {
  background-color: #9e0c26;
  grid-area: nav;
}

main {
  background-color: #327284;
  grid-area: main;
}

footer {
  background-color: #9e0c26;
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4vh 90vh 4vh;
  grid-template-areas: "nav" "main" "footer";
}

@media only screen and (min-width: 768px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80vh 70vh 4vh;
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  }
}

@media only screen and (min-width: 1024px) {
  body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40vh 80vh 4vh;
    grid-template-areas: "nav nav nav" "main main" "footer footer footer";
  }
}
